<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liez.dao.TrainDao">
    <select id="getLastTrainCount" resultType="map">
        select id, last_train_count as lastTrainCount
        from train_ticket_select
        order by update_time limit 1;
    </select>

    <select id="getHavintSet" resultType="map">
        select id, having_trains_count as havingTrainsCount
        from train_ticket_select
        order by update_time limit 1;
    </select>

    <update id="insertTrainCount">
        update train_ticket_select
        set last_train_count = #{size},
            update_time      = now()
        where id = #{id}
    </update>

    <update id="insertTrainSetCount">
        update train_ticket_select
        set having_trains_count = #{size},
            update_time         = now()
        where id like CONCAt('%', #{id}, '%')
    </update>

    <insert id="insertBath" parameterType="list">
        insert into
        animal (
        id,name,age,colour
        )values
        <foreach collection="list" item="animal" separator=",">
            (#{animal.id},#{animal.name},#{animal.age},#{animal.colour})
        </foreach>
    </insert>

    <select id="selectBanch" resultType="map">
        select *
        from animal
        where id in
        <foreach collection="list" item="animal" separator="," open="(" close=")">
          #{animal}
        </foreach>
    </select>
</mapper>